extends layout.pug 

block content 
  div.row 
    h1.title #{data.username}
    if title == "Todos"
      button(id="createTodo").button Create Todo
  ul
    each val in data.todos
      li
        div.todo.card
          h2 #{val.title}
          br
          p #{val.task}
          br
          if val.priority === "high"
            p.high Priority: #{val.priority}
          if val.priority === "medium"
            p.medium Priority: #{val.priority}
          if val.priority === "low"
            p.low Priority: #{val.priority}
          br
          p Created: #{val.createdTime}
          if val.isCompleted
            br
            p Completed: #{val.completedTime}
          if val.isEdited
            br
            p.edited Been edited
          br
          if title == "Todos"
            div.buttons
              button(data-todo=val.id).button Edit
              button(data-complete=val.id).button Complete
              button(data-cancel=val.id).button.danger Cancel
  div(id="todoForm", data-todo="createTodo").card
    div.inputs-row
      input(type="text" id="todoTitle" name="todoTitle" required placeholder="title")
      select(id="todoPriority" name="priority")
        option(value="high") High 
        option(value="medium") Medium
        option(value="low") Low
    textarea(name="", cols="30", rows="10" id="todoTask" required placeholder="task")
    div.buttons
      button(id="saveTodo").button Save
      button(id="cancelSave").button.delete Cancel